---
layout: page
title: QATools Main
description: "Логово тестировщиков, полезные библиотеки, блог"
tags: [qatools, yandex-qatools blog, testing]
---


<div id="wrapper">
<nav class="top-bar" data-topbar role="navigation">

    <section class="top-bar-section">
        <ul class="right">
            <li><a href="http://blog.qatools.ru">Blog</a></li>
            <li><a href="http://teamcity.qatools.ru">Teamcity</a></li>
            <li><a href="http://github.com/{{ site.owner.github }}">
                <i class="fa fa-github"></i>
                Github
            </a></li>
            <li><a href="http://twitter.com/{{ site.owner.twitter }}">
                <i class="fa fa-twitter"></i>
                Twitter
            </a></li>
        </ul>
    </section>
</nav>
<div class="hero">
    <div class="hero_content row">
        <div class="hero_logo small-3 columns"></div>
        <div class="small-9 columns">
            <h1 class="hero_title">Yandex QATools</h1>
            <p class="hero_text">Full stack for automation testing. Our tools can help you on all stages of your process</p>
        </div>
    </div>
</div>

<div class="teasers">
    <div class="row">
        {% for stage in site.data.stages %}
        <div class="small-4 columns teaser">
            <p class="text-center teaser_icon"><i class="fa fa-5x {{stage.icon}}"></i></p>
        </div>
        {% endfor %}
    </div>
    <div data-magellan-expedition="fixed" class="magellan">
        <div class="row">
            {% for stage in site.data.stages %}
                <div class="small-4 columns magellan_item" data-magellan-arrival="{{stage.title}}">
                    <h3 class="text-center">
                        <a href="#{{stage.title}}" class="magellan_link">{{stage.title}}</a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        {% for stage in site.data.stages %}
        <div class="small-4 columns teaser">
            <p>{{stage.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% for stage in site.data.stages %}
    <div class="stage">
        <div class="row">
            <div class="small-12 columns">
                <h2 id="{{stage.title}}" data-magellan-destination="{{stage.title}}">
                    {{stage.title}}
                </h2>
                {% for tool in stage.tools %}
                    <div class="row tool">
                        <div class="small-3 columns {% cycle 'left', 'right' %} {% cycle 'text-left', 'text-right' %}">
                            <a href="{{tool.url}}">
                                <img class="tool_image" src="{% if tool.logoUrl %}{{tool.logoUrl}}{% else %}http://placeimg.com/200/200/tech?{{forloop.index}}{% endif %}">
                            </a>
                        </div>
                        <div class="small-9 columns">
                            <h3 class="tool_title"><a href="{{tool.url}}">{{tool.title}}</a></h3>
                            <p>{{tool.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}


</div>




