<footer class="footer row">
    {% if site.owner.github %}
        <div class="small-4 columns text-center">
            <a href="http://github.com/{{ site.owner.github }}">
                <i class="fa fa-github"></i>
                Github
            </a>
        </div>
    {% endif %}
    {% if site.owner.twitter %}
        <div class="small-4 columns text-center">
            <a href="http://twitter.com/{{ site.owner.twitter }}">
                <i class="fa fa-twitter"></i>
                Twitter
            </a>
        </div>
    {% endif %}
    <div class="small-4 columns text-center">
        &copy; 2013 QATools-Team <br/>
        <i>All rights reserved.</i>
    </div>

    <div id="copy">
        <div class="container">
            <div id="copy-right">

                <a  title="{{ site.owner.name}} on Twitter" target="_blank"  class="icon-twitter-sign" ></a>


            </div>


            <div class="clear"></div>
        </div>
    </div>
</footer>
