<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{page.title}}</title>

<link rel="stylesheet" href="{{ site.url }}/assets/css/foundation.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/main/main.css">

<!--http://fontawesome.veliovgroup.com/-->
<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/pigm-github.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/hljs-github.css">



<script src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
<script src="http://yandex.st/jquery/easing/1.3/jquery.easing.min.js"></script>
<script src="http://yandex.st/modernizr/2.6.2/modernizr.min.js"></script>
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

<!--https://github.com/thesmart/jquery-scrollspy-->
<script src="{{ site.url }}/assets/js/jquery/scrollspy.js"></script>

<!--http://foundation.zurb.com/docs/-->
<script src="{{ site.url }}/assets/js/foundation.min.js"></script>

<script type="text/javascript" src="{{ site.url }}/assets/js/scripts.js"></script>

<!--https://github.com/michael/github-->
<script type="text/javascript" src="{{ site.url }}/assets/js/base64.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/github-api.js"></script>

<!-- Webfonts -->
<script src="//use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9;source-code-pro:n4,n7;volkhov.js"></script>




