---
---
@import "vendor";

$images_root: "../img";

body, h1 {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
}

.top-bar {
  background: $white;
  height: 71px;
  border-bottom: 1px solid $panel-border-color;
  .top-bar-section li:not(.has-form) {
    a:not(.button) {
      background: $white;
      color: $body-font-color;
      font-size: 1.2em;
      line-height: 70px;
      padding: 0 1.2em;
    }
    &:hover a:not(.button) {
      background: lighten($panel-bg, 2%);
    }
  }
}

.hero {
  min-height: 400px;
  background: $panel-bg;
  &_logo {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    background: url('#{$images_root}/logo.png');
  }
  &_title {
    margin-top: 1em;
  }
  &_content {
    padding: 3em 0;
  }
}

.magellan {
  background: transparent;
  &.fixed {
    background: $white;
    border-bottom: 1px solid $panel-border-color;
    box-shadow: 0 2px 3px $panel-bg;
  }
  .magellan_link {
    position: relative;
    color: $body-font-color;
    &:hover {
      opacity: 0.7;
    }
  }
  &_item.active {
    .magellan_link {
      &:before, &:after {
        top: 4px;
        position: absolute;
        @include fa-icon();
      }
      &:before {
        left: -30px;
        content: $fa-var-angle-left;
      }
      &:after {
        right: -30px;
        content: $fa-var-angle-right;
      }
    }
  }
}

.teasers {
  padding: 3em 0;
}

.teaser {
  @mixin color-icon($color) {
    .teaser_icon {
      color: $color;
    }
  }
  &_icon {
    text-shadow: 0 0 2px $white;
  }
  &:nth-child(1) {
    @include color-icon(#585858);
  }
  &:nth-child(2) {
    @include color-icon(#cf2e3f);
  }
  &:nth-child(3) {
    @include color-icon($success-color);
  }
}

.stage {
  padding: 2em 0;
  &:nth-child(even) {
    background: $panel-bg;
    .panel {
      background: lighten($panel-bg, 5%);
    }
  }
}

.tool {
  padding: 1em 0;
  &_image {
    width: 200px;
    height: 200px;
  }
  &_title {
    margin-top: 1.5em;
  }
}


.news {
  padding: 2em 0;
  &_content {
    &-unresolved {
      text-align: center;
      margin: 3em 0;
      color: $base;
    }
  }
}


.footer {
  padding: 2em 0;
}
